<div class="row-fluid">
<div class="col-md-12">
    <div class="row-fluid">
        <!-- Profile section -->
    <div class="col-md-3 well" id="profile">
        <section>
        <a href="<?= $this->url('wall', ['username' => $userData->getUsername()]) ?>"
           title="<?php printf('%s %s', $userData->getName(), $userData->getSurname()) ?>"
           class="thumbnail">
            <img src="<?= $this->basePath('images/').$userData->getAvatar() ?>"
                 alt="<?php printf('%s %s', $userData->getName(), $userData->getSurname()) ?>" />
        </a>
        <ul>
            <li>
                <h3><i class="icon-user"></i> <?= $this->translate('Bio') ?></h3>
                <p><?= $userData->getBio() ?></p>
            </li>
            <li>
                <h3><i class="icon-globe"></i> <?= $this->translate('Location') ?></h3>
                <p><?= $userData->getLocation() ?></p>
            </li>
            <li>
                <h3><i class="icon-heart"></i> <?= $this->translate('Gender') ?></h3>
                <p><?= $userData->getGenderString() ?></p>
            </li>
        </ul>
        </section>
    </div>

        <!-- Wall profile -->
    <div class="col-md-9" id="wall">
        <section>
            <!-- Main Stream wall profile -->
            <div id="wall-stream">
                <h2><?php printf('%s %s', $userData->getName(), $userData->getSurname()) ?></h2>
            </div>
        </section>
        <section>
            <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#wall-status" data-toggle="tab"><i class="icon-pencil"></i></a></li>
                    <li><a href="#wall-image" data-toggle="tab"><i class="icon-picture"></i></a></li>
                    <li><a href="#wall-link" data-toggle="tab"><i class="icon-share"></i></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="wall-status">
                        <?= $this->partial('forms/status-form.phtml', ['form' => $contentForm]); ?>
                    </div>
                    <div class="tab-pane" id="wall-image">
                        <?php echo $this->partial('forms/image-form.phtml', array('form' => $imageForm)); ?>
                    </div>
                    <div class="tab-pane" id="wall-link">
                        <?php echo $this->partial('forms/link-form.phtml', array('form' => $linkForm)); ?>
                    </div
                </div>
                <?php echo $this->flashMessenger()->render('error', ['text-danger']); ?>
            </div>
        </section>
        <section>
            <ul class="post-list">
            <?php foreach ($userData->getFeeds() as $entry) : ?>
            <li class="post">
                <a href="<?= $this->url('wall', ['username' => $userData->getUsername()]) ?>"
                   title="<?php printf('%s %s', $userData->getName(), $userData->getSurname()) ?>"
                   class="pull-left thumbnail">
                    <img src="<?= $this->basePath('images/').$userData->getAvatar() ?>"
                         alt="<?php printf('%s %s', $userData->getName(), $userData->getSurname()) ?>" />
                </a>
                <div class="post-body">
                    <h4 class="post-heading">
                        <a href="<?= $this->url('wall', ['username' => $userData->getUsername()]) ?>"
                        title="<?php printf('%s %s', $userData->getName(), $userData->getSurname()) ?>">
                        </a>
<!--                        --><?php //printf('%s %s', $userData->getName(), $userData->getSurname()) ?>
                    </h4>
                    <?php if ($entry instanceOf \Wall\Entity\UserStatus) : ?>
                        <p><?= $entry->getStatus() ?></p>
                    <?php elseif ($entry instanceOf \Wall\Entity\UserImage) : ?>
                        <p><img src="<?= $this->basePath('images/').$entry->getImage() ?>" width="320" /></p>
                    <?php elseif ($entry instanceOf \Wall\Entity\UserLink) : ?>
                        <p><a href="<?php echo $entry->getUrl() ?>" target="_blank">
                        <?= ($entry->getTitle() !== '') ? $entry->getTitle() : $entry->getUrl(); ?></a></p>
                        <p><?= $entry->getDescription() ?></p>
                    <?php endif; ?>
                </div>
                <ul class="post-list">
                <?php if ($entry->hasComments()) : ?>
                    <?php foreach ($entry->getComments() as $ind => $comm) : ?>
                    <li class="post <?php echo $ind == count($entry->getComments()) - 1? 'last' : '' ?>">
                        <a href="<?php echo $this->url('wall', ['username' => $comm->getUsername()]) ?>"
                           title="<?= $comm->getFullname() ?>" class="pull-left thumbnail">
                           <img src="<?= $this->basePath('images/').$comm->getAvatar() ?>"
                                alt="<?= $comm->getFullname() ?>">
                        </a>
                        <div class="post-body">
                            <h4 class="post-heading">
                            <a href="<?php echo $this->url('wall', ['username' => $comm->getUsername()]) ?>"
                               title="<?= $comm->getFullname() ?>"><?= $comm->getFullname() ?></a></h4>
                            <p><?php echo $comm->getComment() ?></p>
                        </div>
                    </li>
                    <?php endforeach; ?>
                <?php endif; ?>
                    <div class="post-body">
                        <?php echo $this->partial('forms/comment-form.phtml',
                        ['form' => $commentForm, 'type' => $entry->getType(), 'entryId' => $entry->getId()]); ?>
                    </div>
                </ul>
             </li>
            <?php endforeach; ?>
            </ul> <!-- Close post list -->
        </section>
    </div> <!-- Close wall profile -->
    </div>
</div>
</div>