<?= $this->doctype(); ?>

<html lang="en">
<head>
    <meta charset="utf-8">
    <?= $this->headTitle('ZF3 '. $this->translate('My social network'))->setSeparator(' - ')->setAutoEscape(false) ?>
    <?= $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>
    <!-- Le styles -->
    <?= $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
                    ->prependStylesheet($this->basePath() . '/css/style.css')
                    ->prependStylesheet($this->basePath() . '/css/bootstrap.css')
                    ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css') ?>
    <!-- Scripts -->
    <?= $this->headScript()->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
                                  ->prependFile($this->basePath() . '/js/bootstrap.min.js')
                                  ->prependFile($this->basePath() . '/js/jquery-3.2.1.min.js') ?>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-inner">
                <a type="button" data-toggle="collapse" data-target=".navbar-collapse"></a>
                <div class="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a class="brand" href="<?= $this->url('home') ?>">
                                <?= $this->translate('My social network') ?></a></li>
                        <li><a href="<?= $this->url('home') ?>">
                                <?= $this->translate('Home') ?></a></li>
                        <li class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownUser"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <?= $this->translate('Users') ?>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownUser">
                                <li><a class="dropdown-item" href="<?= $this->url('users') ?>">
                                    <?= $this->translate('List Users') ?></a></li>
                                <?php if (empty($this->username)) : ?>
                                    <li><a class="dropdown-item" href="<?= $this->url('login') ?>">
                                        <?= $this->translate('Login') ?></a></li>
                                    <li><a class="dropdown-item" href="<?= $this->url('signup') ?>">
                                        <?= $this->translate('Signup') ?></a></li>
                                <?php else: ?>
                                    <li><a class="dropdown-item" href="<?= $this->url('logout') ?>">
                                            <?= $this->translate('Logout') ?></a></li>
                                <?php endif; ?>
                            </ul>
                        </li>
                        <li><a href="<?= $this->url('feeds', ['username' => $this->username]) ?>">
                                <?= $this->translate('Feeds') ?></a></li>
                        <li><a href="<?= $this->url('wall', ['username' => $this->username]) ?>">
                                <?= $this->translate('Wall') ?></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container wrapper">
        <?= $this->flashMessenger()->render('success', ['alert alert-success list-unstyled']); ?>
        <?= $this->content; ?>
    </div>
    <footer>
        <div class="container fluid-row">
            <?= $this->translate('Welcome to my Social Network | Learn how to create a Social Network with ZF3 &copy; 2017') ?>
        </div>
    </footer>

    <?= $this->inlineScript() ?>
</body>
</html>
