<?php $form = $this->form; ?>
<?php $form->prepare(); ?>
<?= $this->form()->openTag($form) ?>
<div class="form-group <?= count($form->get('username')->getMessages()) > 0 ? 'error' : '' ?>">
    <?= $this->formLabel($form->get('username')); ?>
    <div class="col-md-7">
        <?= $this->formElement($form->get('username')); ?>
        <?= $this->formElementErrors()
                ->setMessageOpenFormat('<div class="help-inline">')
                ->setMessageSeparatorString('</div><div class="help-inline">')
                ->setMessageCloseString('</div>')
                ->render($form->get('username')); ?>
    </div>
</div>
<div class="form-group <?= count($form->get('password')->getMessages()) > 0 ? 'error' : '' ?>">
    <?= $this->formLabel($form->get('password')); ?>
    <div class="col-md-7">
        <?= $this->formElement($form->get('password')); ?>
        <?= $this->formElementErrors($form->get('password')); ?>
    </div>
</div>
<div class="form-group">
    <div class="col-md-7">
        <?= $this->formElement($form->get('login')); ?>
        <?= $this->formElement($form->get('csrf')); ?>
    </div>
</div>

<?= $this->form()->closeTag() ?>