<?php $form = $this->form; ?>
<?php $form->prepare(); ?>
<?= $this->form()->openTag($form) ?>
<div class="row">
    <div class="form-group <?= count($form->get('name')->getMessages()) > 0 ? 'error' : '' ?>">
        <?= $this->formLabel($form->get('name')); ?>
        <div class="col-md-7">
            <?= $this->formElement($form->get('name')); ?>
            <?= $this->formElementErrors()
                ->setMessageOpenFormat('<div class="help-inline">')
                ->setMessageSeparatorString('</div><div class="help-inline">')
                ->setMessageCloseString('</div>')
                ->render($form->get('name')); ?>
        </div>
    </div>
    <div class="form-group <?= count($form->get('surname')->getMessages()) > 0 ? 'error' : '' ?>">
        <?= $this->formLabel($form->get('surname')); ?>
        <div class="col-md-7">
            <?= $this->formElement($form->get('surname')); ?>
            <?= $this->formElementErrors($form->get('surname')) ?>
<!--            --><?php //echo $errors['surname'] ?>
        </div>
    </div>
    <div class="form-group <?= count($form->get('gender')->getMessages()) > 0 ? 'error' : '' ?>">
        <label class="control-label col-sm-3" for="gender">Gender</label>
        <div class="col-md-7">
            <?= $this->formElement($form->get('gender')); ?>
            <?= $this->formElementErrors($form->get('gender')); ?>
        </div>
    </div>
    <div class="form-group <?= count($form->get('username')->getMessages()) > 0 ? 'error' : '' ?>">
        <?= $this->formLabel($form->get('username')); ?>
        <div class="col-md-7">
            <?= $this->formElement($form->get('username')); ?>
            <?= $this->formElementErrors($form->get('username')); ?>
        </div>
    </div>
    <div class="form-group <?= count($form->get('email')->getMessages()) > 0 ? 'error' : '' ?>">
        <?= $this->formLabel($form->get('email')); ?>
        <div class="col-md-7">
            <?= $this->formElement($form->get('email')); ?>
            <?= $this->formElementErrors($form->get('email')); ?>
        </div>
    </div>
    <div class="form-group <?= count($form->get('password')->getMessages()) > 0 ? 'error' : '' ?>">
        <?= $this->formLabel($form->get('password')); ?>
        <div class="col-md-7">
            <?= $this->formElement($form->get('password')); ?>
            <?= $this->formElementErrors($form->get('password')); ?>
        </div>
    </div>
    <div class="form-group <?= count($form->get('repeat_password')->getMessages()) > 0 ? 'error' : '' ?>">
        <?= $this->formLabel($form->get('repeat_password')); ?>
        <div class="col-md-7">
            <?= $this->formElement($form->get('repeat_password')); ?>
            <?= $this->formElementErrors($form->get('repeat_password')); ?>
        </div>
    </div>
    <div class="form-group <?= count($form->get('avatar')->getMessages()) > 0 ? '' : '' ?>">
        <?= $this->formLabel($form->get('avatar')); ?>
        <div class="col-md-7">
            <?= $this->formElement($form->get('avatar')); ?>
            <?= $this->formElementErrors($form->get('avatar')); ?>
        </div>
    </div>
    <div class="form-group <?= count($form->get('bio')->getMessages()) > 0 ? 'error' : '' ?>">
        <?= $this->formLabel($form->get('bio')); ?>
        <div class="col-md-7">
            <?= $this->formElement($form->get('bio')); ?>
            <?= $this->formElementErrors($form->get('bio')); ?>
        </div>
    </div>
    <div class="form-group <?= count($form->get('location')->getMessages()) > 0 ? 'error' : '' ?>">
        <?= $this->formLabel($form->get('location')); ?>
        <div class="col-md-7">
            <?= $this->formElement($form->get('location')); ?>
            <?= $this->formElementErrors($form->get('location')); ?>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-7 col-md-offset-3">
            <?= $this->formElement($form->get('register')); ?>
            <?= $this->formElement($form->get('csrf')); ?>
        </div>
    </div>
</div>
<?= $this->form()->closeTag() ?>