<?php
$this->headLink()->appendStylesheet('./css/datatables.min.css');
$this->headScript()->appendFile('./js/datatables.min.js', 'text/javascript');
?>
<h2><?php echo $this->translate('User List') ?></h2>
<div class="row-fluid">
    <div class="span12">
        <table id="datatables" class="display">

        </table>
    </div>
</div>

<script>
    $(document).ready( function () {
        var request = $.ajax({
            method: "GET",
            url: "./load",
            dataType: "json"
        });
        request.done(function (user_list) {
            drawUsers(user_list);
        });
        request.fail(function (jqXHR, textStatus) {
            console.log("Error " + jqXHR + " | " + textStatus);
        });
    });

    function drawUsers (user_list) {
        // DATATABLES CONFIGURATION
        $('#datatables').dataTable({
            "aaData": user_list,
            "aoColumns": [
                {"sTitle": "Avatar", "mData": "avatar", "sWidth": "11%"},
                {"sTitle": "Username", "mData": "username", "sWidth": "15%"},
                {"sTitle": "Name", "mData": "name", "sWidth": "15%"},
                {"sTitle": "Surname", "mData": "surname", "sWidth": "15%"},
                {"sTitle": "Email", "mData": "email", "sWidth": "22%"},
                {"sTitle": "Location", "mData": "location", "sWidth": "22%"}
            ],
            "aoColumnDefs": [
                { "aTargets": [0], "sClass": "text-center",
                   "mRender": function ( data, type, full ) {
                    var html = '<a href="./'+full.username+'">';
                        html += '<img src="<?= $this->basePath('images/') ?>'+data+'"';
                        html += ' alt="'+full.name+' '+full.surname+'" width="80" /></a>';
                    return html;
                  }
                },
                { "aTargets": [1], "sClass": "text-left",
                    "mRender": function ( data, type, full ) {
                        return '<strong>'+data+'</strong>';
                    }
                },
                { "aTargets": [2,3,4,5], "sClass": "text-left" }
            ],
            "aaSorting": [[1, 'asc']],
            "iDisplayLength": 10,
            "bStateSave": true,
            "bProcessing": true
        });
    }
</script>